.main{
    background-color: darkred;
    box-shadow:4px 4px rgb(231, 31, 31),5px 5px 3px blue ;
    width: auto;
    height: 500px;
   display: flex;
}
.main h1{
    text-shadow: 2px 2px 1px lightseagreen, 4px 4px 2px rgb(241, 27, 241);
}
.small{
    background-color: darkgreen;
    box-shadow: 10px 10px 5px 12px rgb(134, 216, 134),14px 14px 6px rgb(231, 36, 231);
    width: 200px;
    height: 200px;
    display: flex;
    z-index: 1;

}